<!DOCTYPE html>
<html>
  <head>
    <title>TareaAPI</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1> API Search Rick & Morty <h1>

    <h2> 
    <%= form_tag( searches_path, method: :get) do %>
      <%= text_field_tag :keyword, nil %>
      <%= content_tag :button, type: :submit do %>
        Search
      <% end %>
    <% end %>
    <h2>

    <%= yield %>

  </body>
</html>
